body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

header {
    background: #000c5b;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ff8c00 3px solid;
}

header h1 {
    float: left;
    margin: 0;
    padding: 0;
}

section {
    padding: 40px 0;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #000c5b;
    font-size: 45px;
}

section h3{
    color: #000c5b;
    font-size: 25px;
}
section p {
    font-size: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header h1,
    header nav {
        float: none;
        text-align: center;
    }
}
