.hero {
    text-align: center;
    padding: 100px 0;
    position: relative;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 2em;
    }

    #emergencyButton {
        font-size: 1.2em;
        padding: 10px 20px;
    }
}

img {
    height: 100px;
    width: 100px;
}

.Background {
    background-color: #e1d3d3;
    padding: 40px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 50px auto;
    max-width: 1000px;
}

.info-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.info-buttons img {
    height: 400px;
    width: 400px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.Statistics,
.Active_Fires,
.Emergency {
    background-color: #ff8c00;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border: solid 4px #a55d00;
    cursor: pointer;
    text-align: center;
}

.Statistics:hover,
.Active_Fires:hover{
    background-color: #c10000;
}

.Emergency {
    color: #c10000;
}

.Emergency:hover {
    background-color: #c10000;
    color: white;
}