body {
    background-color: rgb(192, 56, 56);
}
.MVR {
    margin-top: 35px;
    margin-left: 35px;
}
.MVR a {
    text-decoration: none;
    font-size: larger;
    color: white;
    background-color: orange;
    padding: 15px;
    border-radius: 20px;
    
}

header {
  color: #faf5f5;
  background-color: orange;
  padding: 1%;
  display: flex;
  align-items: center;
  
  position: relative;
}

.image {
    width: 6%;
    height: 6%;
    min-width: 100px;
    min-height: 100px;
}  

header h2 {
  margin-left: 25px;
  padding: 20px;
}