header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 15px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        padding: 10px 0;
    }
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 125px;
    width: 125px;
}